.textarea {
    margin: 15px 0;
}
.comment {
    border-top: 2px solid #f5f5f5;
    padding: 20px 0;
}

.body-login {
    background-color: lightgrey;
}

.hero.is-primary .navbar-link.is-active, .hero.is-primary .navbar-link:hover, .hero.is-primary a.navbar-item.is-active, .hero.is-primary a.navbar-item:hover {
    background-color: transparent!important;
    color: rgb(232, 230, 227);
}