<!DOCTYPE html>
<html lang="de" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Film Blog | Neuer Blogeintrag</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="../../../../css/style.css">
    <style>
        .has-bg-img {
            background: linear-gradient(
                    rgba(0, 0, 0, 0.3),
                    rgba(0, 0, 0, 0.3)
            ),
            url('https://ctrlr.org/wp-content/uploads/2021/11/fall-movies-index-1628968089.jpg')center center; background-size:cover;
        }
        .navbar{
            background-color: #000000!important;
        }
    </style>
</head>
<body>
<section class="hero is-primary is-medium has-bg-img">
    <!-- Menü -->
    <div class="hero-head">
        <nav class="navbar is-fixed-top">
            <div class="container">
                <div class="navbar-brand">
                    <a class="navbar-item" href="/">
                        <i class="fa fa-film"></i>
                    </a>
                    <!--Navbar Burger -->
                    <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
                        <span aria-hidden="true"></span>
                        <span aria-hidden="true"></span>
                        <span aria-hidden="true"></span>
                    </a>
                </div>
                <div class="navbar-menu" id="navbarBasicExample">
                    <div class="navbar-end">
                        <a th:if="${sessionUser == null}" class="navbar-item" href="/registrierung"><button class="button is-rounded is-link">Registrieren</button></a>
                        <a th:if="${sessionUser == null}" class="navbar-item" href="/login"><button class="button is-rounded is-link">Login</button></a>
                        <a th:if="${sessionUser != null && sessionUser.role == 'admin'}" class="navbar-item" th:href="@{/administration}">Mein Bereich</a>
                        <form th:if="${sessionUser != null}" method="post" th:action="@{/logout}">
                            <input class="button is-primary is-rounded is-danger is-small" type="submit" value="Ausloggen" style="margin-top: 12px;">
                        </form>
                    </div>
                </div>
            </div>
        </nav>
    </div>
    <!-- Menu Ende -->
    <div class="hero-body">
        <div class="container">
            <h1 class="title">
                Film Blog
            </h1>
            <h2 class="subtitle">
                Der vollumfassende BLOG rund um das Thema Filme.
            </h2>
        </div>
    </div>
</section>
<div class="container">
<div class="section">
<div class="columns">
    <div class="column"></div>
    <div class="column is-two-thirds">
        <a href="/administration"><button class="button is-small is-rounded is-link" style="margin-bottom: 20px;">ZURÜCK</button></a>
        <h1 class="title is-4 is-primary">NEUEN BLOGEINTRAG VERFASSEN</h1>
        <form method="post" th:action="@{/admin}" th:object="${beitrag}">
            <div class="field">
            <label class="label">Titel</label>
                <div class="control">
                    <article>
                        <div th:if="${#fields.hasErrors('title')}"  th:errors="*{title}"></div>
                    </article>
                    <input class="input is-primary" type="text" placeholder="Titel" th:field="*{title}">
                </div>
                </div>
            <div class="field">
            <label class="label">Bloginhalt</label>
                <div class="control">
                    <article>
                        <div th:if="${#fields.hasErrors('message')}"  th:errors="*{message}"></div>
                    </article>
                    <textarea class="textarea is-primary" rows="10" placeholder="Verfasse einen Inhalt..." th:field="*{message}"></textarea>
                </div>
            </div>
            <div class="field" style="margin-top: 20px;">
                <div class="control">
                    <input class="button is-primary is-rounded" type="submit" value="Blogeintrag erstellen">
                </div>
            </div>
        </form>
    </div>
    <div class="column"></div>
</div>
</div>
</div>
<footer class="footer">
    <div class="container">
        <div class="content has-text-centered">
            <p>
                Gruppe 1 - Julian / Dirk / Stephan / Jens / David
            </p>
        </div>
    </div>
</footer>
<script>
    document.addEventListener('DOMContentLoaded', () => {

        // Get all "navbar-burger" elements
        const $navbarBurgers = Array.prototype.slice.call(document.querySelectorAll('.navbar-burger'), 0);

        // Check if there are any navbar burgers
        if ($navbarBurgers.length > 0) {

            // Add a click event on each of them
            $navbarBurgers.forEach( el => {
                el.addEventListener('click', () => {

                    // Get the target from the "data-target" attribute
                    const target = el.dataset.target;
                    const $target = document.getElementById(target);

                    // Toggle the "is-active" class on both the "navbar-burger" and the "navbar-menu"
                    el.classList.toggle('is-active');
                    $target.classList.toggle('is-active');

                });
            });
        }

    });
</script>
</body>
</html>