<!DOCTYPE html>
<html lang="de" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Film Blog | Beitrag</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="../../../../css/style.css">
    <style>
        .textarea {
            margin: 15px 0;
        }
        .comment {
            border-top: 2px solid #f5f5f5;
            padding: 20px 0;
        }
        .hero.is-primary .navbar-link.is-active, .hero.is-primary .navbar-link:hover, .hero.is-primary a.navbar-item.is-active, .hero.is-primary a.navbar-item:hover {
            background-color: transparent!important;
            color: rgb(232, 230, 227);
        }
        .content{
            font-size: 16px;
            margin-bottom: 15px;
        }
        .back{
            margin: 20px 0;
        }
        hr{
            height: 3px;
            color: darkgrey;
        }
        .image img {
            object-fit: contain;
        }
        .button{
            margin-right: auto;
            margin-left: auto;
        }
        .navbar{
            background-color: #000000!important;
        }
        .has-bg-img {
            background: linear-gradient(
                    rgba(0, 0, 0, 0.3),
                    rgba(0, 0, 0, 0.3)
            ),
            url('https://ctrlr.org/wp-content/uploads/2021/11/fall-movies-index-1628968089.jpg')center center; background-size:cover;
        }
         .field {
             width: 100%;
         }
    </style>
</head>

<body>
<section class="hero is-primary is-medium has-bg-img">
    <!-- Menü -->
    <div class="hero-head">
        <nav class="navbar is-fixed-top">
            <div class="container">
                <div class="navbar-brand">
                    <a class="navbar-item" href="/">
                        <i class="fa fa-film"></i>
                    </a>
                    <!--Navbar Burger -->
                    <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
                        <span aria-hidden="true"></span>
                        <span aria-hidden="true"></span>
                        <span aria-hidden="true"></span>
                    </a>
                </div>
                <div class="navbar-menu" id="navbarBasicExample">
                    <div class="navbar-end">
                        <a th:if="${sessionUser == null}" class="navbar-item" href="/registrierung"><button class="button is-rounded is-link">Registrieren</button></a>
                        <a th:if="${sessionUser == null}" class="navbar-item" href="/login"><button class="button is-rounded is-link">Login</button></a>
                        <a th:if="${sessionUser != null && sessionUser.role == 'admin'}" class="navbar-item" th:href="@{/administration}">Mein Bereich</a>
                        <form th:if="${sessionUser != null}" method="post" th:action="@{/logout}">
                            <input class="button is-primary is-rounded is-danger is-small" type="submit" value="Ausloggen" style="margin-top: 12px;">
                        </form>
                    </div>
                </div>
            </div>
        </nav>
    </div>
    <!-- Menu Ende -->
    <div class="hero-body">
        <div class="container">
            <h1 class="title">
                Film Blog
            </h1>
            <h2 class="subtitle">
                Der vollumfassende BLOG rund um das Thema Filme.
            </h2>
        </div>
    </div>
</section>

<div class="container">
<section class="back">
    <a href="/" class="button is-rounded is-link is-small">Zurück zur Übersicht</a>
</section>


<section style="margin-bottom: 50px;">
    <div class="columns">
        <div class="column is-one-third">
            <figure class="image is-4by3 is-fullwidth">
                <img src="/static/images/default.png" th:src="@{'images/'+${beitrag.picFileSource}}" alt="Image">
            </figure>
        </div>
        <div class="column is-two-thirds">

            <div class="date">
                <strong><span th:text="${beitrag.author}"></span></strong>
                <span> - </span>
                <small th:text="${#temporals.format(beitrag.createdAt, 'dd.MM.yyyy HH:mm')}"></small>
            </div>
            <p><h1 th:text="${beitrag.title}" class="title"></h1></p>
            <div th:each="absatz: ${absaetze}">
                <p th:text="${absatz}" class="content"></p>
            </div>
            <hr>

            <div class="comments">
                <button class="js-modal-trigger button is-rounded is-primary" data-target="modal-js-comments">
                    <span th:text="${beitrag.getAnzahlKommentare()}"></span>
                </button>
                <div id="modal-js-comments" class="modal">
                    <div class="modal-background"></div>
                    <div class="modal-card">
                        <header class="modal-card-head">
                            <p class="modal-card-title">Kommentare</p>
                            <button class="delete" aria-label="close"></button>
                        </header>
                        <section class="modal-card-body">
                            <!-- Content ... -->
                            <div class="comment" th:each="kommentar: ${beitrag.kommentare}">
                                <p th:text="${kommentar.text}"></p>
                                <div class="content is-small">
                                    <strong><span th:text="${kommentar.getCreatedByUserName()}"></span></strong>
                                    <span> - </span>
                                    <span th:text="${#temporals.format(kommentar.createdAt, 'dd.MM.yyyy HH:mm')}"></span>
                                </div>
                                <!-- Admins only !!! -->
                                <form method="post" th:if="${sessionUser != null && (kommentar.getCreatedByUser() == sessionUser || sessionUser.role == 'admin')}" th:action="@{/deletecom}">
                                    <input type="hidden" th:value="${kommentar.id}" name="kommentarID">
                                    <input type="hidden" th:value="${beitrag.id}" name="beitragId">
                                    <input class="button is-small" type="submit" value="Kommentar löschen" >
                                </form>
                                <!--END / Admins only !!!-->
                            </div>
                        </section>



                        <footer class="modal-card-foot" th:if="${sessionUser != null}">
                            <div class="field">
                                <form method="post" th:object="${kommentar}" th:action="@{/beitrag}">
                                    <label>
                                        <label class="label">Beitrag kommentieren:</label>
                                        <div>
                                            <div class="control">
                                                <textarea class="textarea" th:field="*{text}" placeholder="Kommentar"></textarea>
                                            </div>
                                            <input type="hidden" th:value="${beitrag.id}" name="beitragId">
                                            <input  type="submit" class="button is-success" value="Absenden">
                                        </div>
                                    </label>
                                </form>
                            </div>
                        </footer>

                    </div>
                </div>
            </div>

            <div th:if="${sessionUser != null && sessionUser.role == 'admin'}">
                <form th:if="${sessionUser != null && sessionUser.role == 'admin'}" th:action="@{/editBlog}" method="post">
                    <div style="margin-top: 50px;">
                    <input type="hidden" th:value="${beitrag.id}" name="beitragId">
                    <input class="button is-rounded is-primary is-small" type="submit" value="Beitrag bearbeiten">
                    </div>
                </form>
                <form method="post" th:action="@{/deleteBeitrag}">
                    <div style="margin-top: 50px;">
                        <input type="hidden" th:value="${beitrag.id}" name="beitragId">
                        <input class="button is-rounded is-danger is-small" type="submit" value="Beitrag inkl. Kommentare löschen">
                    </div>
                </form>
            </div>

        </div>
    </div>
</div>
</section>


<footer class="footer">
    <div class="container">
        <div class="content has-text-centered">
            <p>
                Gruppe 1 - Julian / Dirk / Stephan / Jens / David
            </p>
        </div>
    </div>
</footer>

<script type="text/javascript">
    document.addEventListener('DOMContentLoaded', () => {
        // Functions to open and close a modal
        function openModal($el) {
            $el.classList.add('is-active');
        }

        function closeModal($el) {
            $el.classList.remove('is-active');
        }

        function closeAllModals() {
            (document.querySelectorAll('.modal') || []).forEach(($modal) => {
                closeModal($modal);
            });
        }

        // Add a click event on buttons to open a specific modal
        (document.querySelectorAll('.js-modal-trigger') || []).forEach(($trigger) => {
            const modal = $trigger.dataset.target;
            const $target = document.getElementById(modal);
            console.log($target);

            $trigger.addEventListener('click', () => {
                openModal($target);
            });
        });

        // Add a click event on various child elements to close the parent modal
        (document.querySelectorAll('.modal-background, .modal-close, .modal-card-head .delete, .modal-card-foot .button') || []).forEach(($close) => {
            const $target = $close.closest('.modal');

            $close.addEventListener('click', () => {
                closeModal($target);
            });
        });

        // Add a keyboard event to close all modals
        document.addEventListener('keydown', (event) => {
            const e = event || window.event;

            if (e.keyCode === 27) { // Escape key
                closeAllModals();
            }
        });
        if (location.hash === '#comment') {

            var element = document.getElementById("modal-js-comments");
            element.classList.add("is-active");
        }
    });
</script>
<script>
    document.addEventListener('DOMContentLoaded', () => {

        // Get all "navbar-burger" elements
        const $navbarBurgers = Array.prototype.slice.call(document.querySelectorAll('.navbar-burger'), 0);

        // Check if there are any navbar burgers
        if ($navbarBurgers.length > 0) {

            // Add a click event on each of them
            $navbarBurgers.forEach( el => {
                el.addEventListener('click', () => {

                    // Get the target from the "data-target" attribute
                    const target = el.dataset.target;
                    const $target = document.getElementById(target);

                    // Toggle the "is-active" class on both the "navbar-burger" and the "navbar-menu"
                    el.classList.toggle('is-active');
                    $target.classList.toggle('is-active');

                });
            });
        }

    });
</script>
</body>
</html>