<!DOCTYPE html>
<html lang="de" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Film Blog | Neuer Blogeintrag</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="../../../../css/style.css">
    <style>
        .textarea {
            margin: 15px 0;
        }
        .comment {
            border-top: 2px solid #f5f5f5;
            padding: 20px 0;
        }
        .hero.is-primary .navbar-link.is-active, .hero.is-primary .navbar-link:hover, .hero.is-primary a.navbar-item.is-active, .hero.is-primary a.navbar-item:hover {
            background-color: transparent!important;
            color: rgb(232, 230, 227);
        }
        .content{
            font-size: 22px;
        }
        .back{
            margin: 20px 0;
        }
        hr{
            height: 3px;
            color: darkgrey;
        }
        .button{
            margin-right: auto;
            margin-left: auto;
        }
        .navbar{
            background-color: #000000!important;
        }
        .has-bg-img {
            background: linear-gradient(
                    rgba(0, 0, 0, 0.3),
                    rgba(0, 0, 0, 0.3)
            ),
            url('https://ctrlr.org/wp-content/uploads/2021/11/fall-movies-index-1628968089.jpg')center center; background-size:cover;
        }
    </style>
</head>

<body>
<section class="hero is-primary is-medium has-bg-img">
    <!-- Menü -->
    <div class="hero-head">
        <nav class="navbar is-fixed-top">
            <div class="container">
                <div class="navbar-brand">
                    <a class="navbar-item" href="/">
                        <i class="fa fa-film"></i>
                    </a>
                    <!--Navbar Burger -->
                    <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
                        <span aria-hidden="true"></span>
                        <span aria-hidden="true"></span>
                        <span aria-hidden="true"></span>
                    </a>
                </div>
                <div class="navbar-menu" id="navbarBasicExample">
                    <div class="navbar-end">
                        <a th:if="${sessionUser == null}" class="navbar-item" href="/registrierung"><button class="button is-rounded is-link">Registrieren</button></a>
                        <a th:if="${sessionUser == null}" class="navbar-item" href="/login"><button class="button is-rounded is-link">Login</button></a>
                        <a th:if="${sessionUser != null && sessionUser.role == 'admin'}" class="navbar-item" th:href="@{/administration}">Mein Bereich</a>
                        <form th:if="${sessionUser != null}" method="post" th:action="@{/logout}">
                            <input class="button is-primary is-rounded is-danger is-small" type="submit" value="Ausloggen" style="margin-top: 12px;">
                        </form>
                    </div>
                </div>
            </div>
        </nav>
    </div>
    <!-- Menu Ende -->
    <div class="hero-body">
        <div class="container">
            <h1 class="title">
                Film Blog
            </h1>
            <h2 class="subtitle">
                Der vollumfassende BLOG rund um das Thema Filme.
            </h2>
        </div>
    </div>
</section>
<div class="container">
    <div class="section">
        <div class="columns">
            <div class="column"></div>
            <div class="column is-two-thirds">
                <a href="/administration"><button class="button is-small is-rounded is-link" style="margin-bottom: 20px;">ZURÜCK</button></a>
                <h1 class="title is-4 is-primary">NEUEN BLOGEINTRAG VERFASSEN</h1>
                <form method="post" th:action="@{/editBlog2}" th:object="${beitrag}" enctype="multipart/form-data">
                    <div class="column is-one-third">
                        <figure class="image is-4by3 is-fullwidth">
                            <img src="/static/images/default.png" th:src="@{'images/'+${beitrag.picFileSource}}" alt="Image">
                        </figure>
                    </div>
                    <div class="field">
                        <label class="label">Titel</label>
                        <div class="control">
                            <article>
                                <div th:if="${#fields.hasErrors('title')}"  th:errors="*{title}"></div>
                            </article>
                            <input class="input is-primary" type="text" placeholder="Titel" th:field="*{title}">
                        </div>
                    </div>
                    <div class="field">
                        <label class="label">Bloginhalt</label>
                        <div class="control">
                            <article>
                                <div th:if="${#fields.hasErrors('message')}"  th:errors="*{message}"></div>
                            </article>
                            <textarea class="textarea is-primary" rows="10" placeholder="Verfasse einen Inhalt..." th:field="*{message}"></textarea>
                        </div>
                    </div>
                    <div class="field" style="margin-top: 20px;">
                        <div class="control">
                            <input type="hidden" th:field="*{id}">
                            <input type="hidden" th:field="*{createdAt}">
                            <input type="hidden" th:field="*{author}">
                            <input type="hidden" th:field="*{picFileSource}">
                            <input class="button is-primary is-rounded" type="submit" value="Speichern">
                        </div>
                    </div>
                </form>
                <!-- Bild -->
                <form method="post" th:action="@{/upload}" th:object="${beitrag}" enctype="multipart/form-data">
                    <div class="form-group">
                        <div style="margin-top: 10px;">
                        <input type="file" name="bildDatei" class="button is-primary is-rounded">
                        </div>
                    </div>
                    <input type="hidden" th:field="*{id}">
                    <input type="hidden" th:field="*{createdAt}">
                    <input type="hidden" th:field="*{message}">
                    <input type="hidden" th:field="*{author}">
                    <input type="hidden" th:field="*{title}">
                    <div style="margin-top: 10px;">
                    <button type="submit" class="button is-primary is-rounded">Bild hochladen</button>
                    </div>
                </form>

            </div>
            <div class="column"></div>
        </div>
    </div>
</div>
<footer class="footer">
    <div class="container">
        <div class="content has-text-centered">
            <p>
                Gruppe 1 - Julian / Dirk / Stephan / Jens / David
            </p>
        </div>
    </div>
</footer>
</body>
<script>
    document.addEventListener('DOMContentLoaded', () => {

        // Get all "navbar-burger" elements
        const $navbarBurgers = Array.prototype.slice.call(document.querySelectorAll('.navbar-burger'), 0);

        // Check if there are any navbar burgers
        if ($navbarBurgers.length > 0) {

            // Add a click event on each of them
            $navbarBurgers.forEach( el => {
                el.addEventListener('click', () => {

                    // Get the target from the "data-target" attribute
                    const target = el.dataset.target;
                    const $target = document.getElementById(target);

                    // Toggle the "is-active" class on both the "navbar-burger" and the "navbar-menu"
                    el.classList.toggle('is-active');
                    $target.classList.toggle('is-active');

                });
            });
        }

    });
</script>
</html>