<!DOCTYPE html>
<html lang="de" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Film Blog</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="../../../../css/style.css">
    <style>
        .textarea {
            margin: 15px 0;
        }
        .comment {
            border-top: 2px solid #f5f5f5;
            padding: 20px 0;
        }
        .hero.is-primary .navbar-link.is-active, .hero.is-primary .navbar-link:hover, .hero.is-primary a.navbar-item.is-active, .hero.is-primary a.navbar-item:hover {
            background-color: transparent!important;
            color: rgb(232, 230, 227);
        }
        .image img {
            object-fit: cover;
        }
        .message_length{
            word-break: break-word;
            overflow: hidden;
            text-overflow: ellipsis;
            display: -webkit-box;
            line-height: 16px; /* fallback */
            max-height: 80px; /* fallback */
            -webkit-line-clamp: 5; /* number of lines to show */
            -webkit-box-orient: vertical;
        }
        .navbar{
            background-color: #000000!important;
        }
        .has-bg-img {
            background: linear-gradient(
                    rgba(0, 0, 0, 0.3),
                    rgba(0, 0, 0, 0.3)
            ),
            url('https://ctrlr.org/wp-content/uploads/2021/11/fall-movies-index-1628968089.jpg')center center; background-size:cover;
        }
    </style>
</head>
<body>
<!----------------------------- Version 1.1 lauffähig---------------------------------------------->
<section class="hero is-primary is-medium has-bg-img">
    <!-- Menü -->
    <div class="hero-head">
        <nav class="navbar is-fixed-top">
            <div class="container">
                <div class="navbar-brand">
                    <a class="navbar-item" href="/">
                        <i class="fa fa-film"></i>
                    </a>
                    <!--Navbar Burger -->
                    <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
                        <span aria-hidden="true"></span>
                        <span aria-hidden="true"></span>
                        <span aria-hidden="true"></span>
                    </a>
                </div>
                <div class="navbar-menu" id="navbarBasicExample">
                    <div class="navbar-end">
                        <a th:if="${sessionUser == null}" class="navbar-item" href="/registrierung"><button class="button is-rounded is-link">Registrieren</button></a>
                        <a th:if="${sessionUser == null}" class="navbar-item" href="/login"><button class="button is-rounded is-link">Login</button></a>
                        <a th:if="${sessionUser != null && sessionUser.role == 'admin'}" class="navbar-item" th:href="@{/administration}">Mein Bereich</a>
                        <form th:if="${sessionUser != null}" method="post" th:action="@{/logout}">
                            <input class="button is-primary is-rounded is-danger is-small" type="submit" value="Ausloggen" style="margin-top: 12px;">
                        </form>
                    </div>
                </div>
            </div>
        </nav>
    </div>
    <!-- Menu Ende -->
    <div class="hero-body">
        <div class="container">
            <h1 class="title">
                Film Blog
            </h1>
            <h2 class="subtitle">
                Der vollumfassende BLOG rund um das Thema Filme.
            </h2>
        </div>
    </div>
</section>
<div class="container">
    <div class="section">
        <div class="columns">
            <div class="column is-four-quarters">
                <div class="section">
                    <div class="columns is-multiline">
                        <!-- Blogentry -->
                        <div class="column is-one-third" th:each="beitrag, iStat : ${beitraege}">
                            <div class="card">
                                <div class="card-image">
                                    <figure class="image is-4by3">
                                        <img src="/static/images/default.png" th:src="@{'images/'+${beitrag.picFileSource}}" alt="Image">
                                    </figure>
                                </div>
                                <div class="card-content">
                                    <p>
                                        <span th:text="${beitrag.author}" class="has-text-primary has-text-weight-medium"></span>
                                        <span> - </span>
                                        <small th:text="${#temporals.format(beitrag.createdAt, 'dd.MM.yyyy HH:mm')}"></small>
                                    </p>
                                    <div class="content">
                                        <!--  Headline <p class="title is-4">Lorem ipsum dolor</p> -->
                                        <p class="title is-4" th:text="${beitrag.title}"></p>
                                        <p th:text="${beitrag.message}" class="message_length"></p>
                                        <p th:text="${beitrag.getAnzahlKommentare()}" th:href="@{/beitrag(id=${beitrag.id})}" class="has-text-primary"></p>
                                        <a class="button is-rounded is-primary is-small" th:href="@{/beitrag(id=${beitrag.id})}" style="display: block; margin-left: auto; margin-right: auto; width: 100px;">Weiterlesen</a>
                                    </div>
<!--                                    <form th:if="${sessionUser != null && sessionUser.role == 'admin'}" th:action="@{/editBlog}" method="post">-->
<!--                                        <input type="hidden" th:value="${beitrag.id}" name="beitragId">-->
<!--                                        <input type="submit" value="edit">-->
<!--                                    </form>-->

<!--                                    <div class="comments">-->
<!--                                        &lt;!&ndash; Logged in users only !!!  &ndash;&gt;-->

<!--                                        <div class="comments">-->
<!--                                            <button class="js-modal-trigger" data-target="modal-js-comments">-->
<!--                                                Kommentare-->
<!--                                            </button>-->
<!--                                            <div id="modal-js-comments" class="modal">-->
<!--                                                <div class="modal-background"></div>-->
<!--                                                <div class="modal-card">-->
<!--                                                    <header class="modal-card-head">-->
<!--                                                        <p class="modal-card-title">Kommentare</p>-->
<!--                                                        <button class="delete" aria-label="close"></button>-->
<!--                                                    </header>-->
<!--                                                    <section class="modal-card-body">-->
<!--                                                        &lt;!&ndash; Content ... &ndash;&gt;-->

<!--                                                            <div class="comment" th:each="kommentar: ${beitrag.kommentare}">-->
<!--                                                                <span th:text="${kommentar.text}"></span>-->
<!--                                                                <span> - </span>-->
<!--                                                                <small th:text="${#temporals.format(kommentar.createdAt, 'dd.MM.yyyy HH:mm')}"></small>-->

<!--                                                                &lt;!&ndash; Admins only !!!&ndash;&gt;-->
<!--                                                                <form method="post" th:if="${sessionUser != null && (kommentar.getCreatedByUser() == sessionUser || sessionUser.role == 'admin')}" th:action="@{/deletecom}">-->
<!--                                                                    <input type="hidden" th:value="${kommentar.id}" name="kommentarID">-->
<!--                                                                    <input class="button is-small" type="submit" value="Kommentar löschen" >-->
<!--                                                                </form>-->
<!--                                                                &lt;!&ndash;END / Admins only !!!&ndash;&gt;-->

<!--                                                            </div>-->
<!--                                                    </section>-->

<!--                                                    <footer th:if="${sessionUser != null}" class="modal-card-foot">-->
<!--                                                       <div class="field">-->
<!--                                                        <form method="post" th:object="${kommentar}" th:action="@{/}">-->
<!--                                                            <label>-->
<!--                                                                <label class="label">Beitrag kommentieren:</label>-->
<!--                                                                <div>-->
<!--                                                                    <div class="control">-->
<!--                                                                        <textarea class="textarea" th:field="*{text}" placeholder="Kommentar"></textarea>-->
<!--                                                                    </div>-->
<!--                                                                    <input type="hidden" th:value="${iStat.index}" name="beitragsNr">-->
<!--                                                                    <input  type="submit" class="button is-success" value="Absenden">-->
<!--                                                                </div>-->
<!--                                                            </label>-->
<!--                                                        </form>-->
<!--                                                       </div>-->
<!--                                                        &lt;!&ndash;<button class="button is-success">Kommentar schreiben</button>-->
<!--                                                        <button class="button">Cancel</button>>&ndash;&gt;-->
<!--                                                    </footer>-->

<!--                                                </div>-->
<!--                                            </div>-->
<!--                                        </div>-->

<!--                                        &lt;!&ndash; END /Logged in users only !!!  &ndash;&gt;-->
<!--                                    </div>-->
<!--                                    <div th:if="${sessionUser != null && sessionUser.role == 'admin'}">-->
<!--                                        <form method="post" th:action="@{/deleteBeitrag}">-->
<!--                                            <div>-->
<!--                                                <input type="hidden" th:value="${beitrag.id}" name="beitragId">-->
<!--                                                <input  type="submit" value="Beitrag inkl. Kommentare löschen">-->
<!--                                            </div>-->
<!--                                        </form>-->
<!--                                    </div>-->

                                </div>
                            </div>
                        </div>
                        <!-- END / Blogentry -->

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<footer class="footer">
    <div class="container">
        <div class="content has-text-centered">
            <p>
                Gruppe 1 - Julian / Dirk / Stephan / Jens / David
            </p>
        </div>
    </div>
</footer>
<script type="text/javascript">
    document.addEventListener('DOMContentLoaded', () => {
        // Functions to open and close a modal
        function openModal($el) {
            $el.classList.add('is-active');
        }

        function closeModal($el) {
            $el.classList.remove('is-active');
        }

        function closeAllModals() {
            (document.querySelectorAll('.modal') || []).forEach(($modal) => {
                closeModal($modal);
            });
        }

        // Add a click event on buttons to open a specific modal
        (document.querySelectorAll('.js-modal-trigger') || []).forEach(($trigger) => {
            const modal = $trigger.dataset.target;
            const $target = document.getElementById(modal);
            console.log($target);

            $trigger.addEventListener('click', () => {
                openModal($target);
            });
        });

        // Add a click event on various child elements to close the parent modal
        (document.querySelectorAll('.modal-background, .modal-close, .modal-card-head .delete, .modal-card-foot .button') || []).forEach(($close) => {
            const $target = $close.closest('.modal');

            $close.addEventListener('click', () => {
                closeModal($target);
            });
        });

        // Add a keyboard event to close all modals
        document.addEventListener('keydown', (event) => {
            const e = event || window.event;

            if (e.keyCode === 27) { // Escape key
                closeAllModals();
            }
        });
    });
</script>
<script>
    document.addEventListener('DOMContentLoaded', () => {

        // Get all "navbar-burger" elements
        const $navbarBurgers = Array.prototype.slice.call(document.querySelectorAll('.navbar-burger'), 0);

        // Check if there are any navbar burgers
        if ($navbarBurgers.length > 0) {

            // Add a click event on each of them
            $navbarBurgers.forEach( el => {
                el.addEventListener('click', () => {

                    // Get the target from the "data-target" attribute
                    const target = el.dataset.target;
                    const $target = document.getElementById(target);

                    // Toggle the "is-active" class on both the "navbar-burger" and the "navbar-menu"
                    el.classList.toggle('is-active');
                    $target.classList.toggle('is-active');

                });
            });
        }

    });
</script>
</body>
</html>